 /*  .img {
    height: 100%;
    width: 100%; 
    overflow: hidden;

}

.header {
    font-size: 80px;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
}
  */
