.poster-container {
    margin:10px;
    perspective: 700;
    display:flex;
}

.poster {
    width: 100px ;
    height: 100px;
    transition:all 0.6s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    margin: 5px;

}
.flipped {
  transform: rotateY(180deg);
}
.poster .pic {
    background: linear-gradient(to top, rgba(103,58,183,.6)0%, rgba(156,39,176,.6)50%);
    background-size:cover;
    color: white;
}
.poster .back {
    transform: rotateY(180deg);
    background: blue;
}
.poster .pic,.black{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius:10px;
    backface-visibility:hidden;
    display: flex;
    align-items:center;
    justify-content:center;
    box-shadow: 0px 2px 5px gray;
}