.chat-panel-container {
    position: fixed !important;
    bottom: 15px;
    width: 450px !important;
    min-height: 45px;
    right: 15px !important;
    z-index: 1500 !important;
    background: white;
    border-radius: 3px;
    box-shadow: -6px 7px 15px grey !important;    

}

.chat-panel-header {
    background: #2e6ba6;
    padding: 10px !important;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    
}

.panel-row {
    width: 100% !important;

}


.chat-panel-body {
    min-height: 450px;
    width: 100%;
    
}